<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>

</head>
<body>
    <header>
      
        <nav>
            <h1>Explore</h1>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
        <h1>Explore</h1>
        <img src="../static/museumISProject.jpeg" alt="Front view of the MonoMuse museum building" width="300">
        <h2>Mission Statement</h2>
        <p>
        MonoMuse is focused on exploring the beauty of art and technology, and serving the general public with accessbilty of art.Our mission is to give people the chance to admire art related to tehcnolgy either through AI, photography, editing, and more. 
        </p>
        <h2>Milestones</h2>
        <ul>
        <li>2007 - Museum was founded</li>
        <li>2010 - Added photography center</li>
        <li>2023 - Launched an exhibition on AI</li>
        </ul>

    <footer>
    <p>© 2026 MonoMuse. All rights reserved.</p>
    </footer>

    
</body>
</html>